<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/webjarslocator/jquery/jquery.js"></script>
</head>
<body>
	<input id="id" type="file" name="file"/>
	<button id="up">shangchuan</button>
	<script>
	$("#up").click(function(){		
		alert("123");
		var file=$("#id")[0].files[0];
	    if(file==null)
	        return;
	    var formData=new FormData();
	    formData.append('file',file);
		$.ajax({
            url: '/upload',
            type: 'post',
            data:formData,
            dataType:"JSON",
            cache:false,
            processData:false,
            contentType:false,
            success: function (data) {
              console.info(data)
            }
        });	           
	});
	</script>
</body>

</html>